@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');


.gameContainer {
  display: grid;
  grid-template-areas: 
  "scoreboard"
  "gameBtns"
  "resetBtn";
  justify-items: center;
  margin-top: auto;
  height: 100vh;
  font-family: 'Rubik', sans-serif;
}

.scoreboard {
  grid-area: scoreboard;
  align-self: end;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 10px;
}

#playerScore {
  margin-right: 200px;
  margin-left: 20px;
  border-left: 5px solid black;
  padding-left: 30px;
}
#CPU {
  margin-right: 20px;
  border-right: 5px solid black;
  padding-right: 20px;
}



.gameBtnsContainer {
  grid-area: gameBtns;
  align-items: center;
  display: flex;
  width: 900px;
  justify-content: space-between;
}

.gameBtnsContainer > * {
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: rgb(141, 187, 96);
  transition: background-color .24s;
}
.gameBtnsContainer > *:hover {
  box-shadow: 0px 0px 4px 1px rgba(103, 133, 73, 0.712);
  background-color: rgb(103, 133, 73);
  cursor: pointer;
}
.gameBtnsContainer > * img {
  height: 250px;
  pointer-events: none;
}

.resetBtn {
  grid-area: resetBtn;
  align-self: start;
  cursor: pointer;
  width: 300px;
  height: 60px;
  outline: none;
  border: none;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 6px;
  color: white;
  background-color: rgb(170, 74, 68);
}
.resetBtn:hover {
  box-shadow: 0px 0px 2px 1px rgb(170, 74, 68); 
}

