.gameContainer {
  display: grid;
  grid-template-areas: 
  "scoreboard"
  "gameBtns"
  "resetBtn";
  justify-items: center;
  margin-top: auto;
  height: 100vh;
}

.scoreboard {
  grid-area: scoreboard;
  align-self: end;
}


.gameBtnsContainer {
  grid-area: gameBtns;
  align-items: center;
  display: flex;
  width: 900px;
  justify-content: space-between;
}

.gameBtnsContainer > * {
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: rgb(141, 187, 96);
  transition: background-color .24s;
}
.gameBtnsContainer > *:hover {
  box-shadow: 0px 0px 4px 1px rgba(103, 133, 73, 0.712);
  background-color: rgb(103, 133, 73);
  cursor: pointer;
}
.gameBtnsContainer > * img {
  height: 250px;
  pointer-events: none;
}

.resetBtn {
  grid-area: resetBtn;
  align-self: start;
}

